.navigationBar {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: transparent;
}
.navigationBar a {
  align-self: center;
}
.navigationBar a:focus {
  outline: none;
}
.navigationBar .label {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  align-self: center;
}
.navigationBar .label .labelD {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #ffffff;
}
.navigationBar .label .labelC {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.navigationBar .label .labelI {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
}
.navigationBar ul {
  align-self: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigationBar ul li {
  margin-right: 20px;
  align-self: center;
}
.navigationBar ul li a {
  text-decoration: none;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #ffffff;
}

.LoginCont {
  width: 100%;
  height: 100%;
  background: white;
}
.LoginCont .loginForm {
  margin: auto;
  text-align: center;
}
.LoginCont .loginForm button {
  margin: auto;
}
.LoginCont .navigation {
  height: 85px;
  background: #1d3b8b;
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.LoginCont .navigation .labelUserPage {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}
.LoginCont .navigation .labelUserPage .labelD {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #ffffff;
}
.LoginCont .navigation .labelUserPage .labelC {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.LoginCont .navigation .labelUserPage .labelI {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
}
.LoginCont .LoginModel {
  width: 830px;
  height: 460px;
  padding: 60px 20px;
  margin-top: 150px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  position: absolute;
  transform: translateX(-50%);
  background: rgba(29, 59, 139, 0.1);
  border-radius: 15px;
}
.LoginCont .LoginModel input {
  width: 689px;
  height: 79px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #5c5c5c;
}
.LoginCont .LoginModel input:focus {
  outline: none;
}
.LoginCont .LoginModel input::placeholder {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #5c5c5c;
}
.LoginCont .LoginModel button {
  width: 229px;
  height: 65px;
  margin: auto;
  background: rgba(218, 148, 70, 0.5);
  border-radius: 11px;
}
.LoginCont .LoginModel button:focus {
  outline: none;
}
.LoginCont .LoginModel button a {
  text-decoration: none;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #ffffff;
}

.UserPage {
  background: #ffffff;
  width: 100%;
  height: 100vh;
}
.UserPage .navigationBarUserPage {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #1d3b8b;
  position: absolute;
  top: 0;
}
.UserPage .navigationBarUserPage .label {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  align-self: center;
}
.UserPage .navigationBarUserPage .label .labelD {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #ffffff;
}
.UserPage .navigationBarUserPage .label .labelC {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.UserPage .navigationBarUserPage .label .labelI {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
}
.UserPage .navigationBarUserPage ul {
  align-self: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.UserPage .navigationBarUserPage ul li {
  margin-right: 20px;
  align-self: center;
}
.UserPage .navigationBarUserPage ul li a {
  text-decoration: none;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #ffffff;
}
.UserPage .UserPageCont {
  margin: 0 105px 0 105px;
  padding-top: 20px;
  position: relative;
}
.UserPage .UserPageCont .InfoCont {
  display: flex;
  justify-content: space-between;
}
.UserPage .UserPageCont .SubBoxCont {
  width: 425px;
  height: 136px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 20px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
}
.UserPage .UserPageCont .SubBoxCont h2 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  margin-bottom: 21px;
}
.UserPage .UserPageCont .linksBoxCont {
  width: 800px;
}
.UserPage .UserPageCont .linksBoxCont span {
  width: 100px;
  color: rgba(29, 59, 139, 0.5);
}
.UserPage .UserPageCont .linksBoxCont div {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.UserPage .UserPageCont .linksBoxCont div input {
  width: 379px;
  height: 64px;
  margin: 10px auto;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 9px;
}
.UserPage .UserPageCont .linksBoxCont h1 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #da9446;
  margin-bottom: 10px;
}
.UserPage .ImageUploadCont {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.UserPage .ImageUploadCont .inputCont {
  width: 183px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 9px;
  text-align: center;
}
.UserPage .ImageUploadCont .inputCont label {
  width: 100%;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  color: #5c5c5c;
}
.UserPage .ImageUploadCont .inputCont label:hover {
  cursor: pointer;
}
.UserPage .ImageUploadCont .inputCont input {
  width: 183px;
  visibility: hidden;
}
.UserPage .ImageUploadCont .inputCont input[type="file"]:focus {
  outline: none;
}
.UserPage h2 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #da9446;
}
.UserPage h3 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: rgba(29, 59, 139, 0.5);
}
.UserPage h1 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #da9446;
}
.UserPage p {
  margin: 0;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #5c5c5c;
}
.UserPage button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #da9446;
  background: #ffffff;
}
.UserPage button:focus {
  outline: none;
}
.UserPage button:hover {
  cursor: pointer;
}
.UserPage button span {
  color: #da9446;
}
.UserPage .profileInfoCont {
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
}
.container .centerWelcomeCont {
  width: 100%;
  text-align: center;
  z-index: 1;
}
.container .centerWelcomeCont .textCont {
  position: relative;
  top: 100px;
  width: 100%;
  max-width: 1180px;
  height: 514px;
  margin: 0 auto 0 auto;
  background: rgba(196, 196, 196, 0.6);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.container .centerWelcomeCont .textCont h1 {
  margin: 0;
  text-align: center;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: normal;
  color: #ffffff;
}
.container .centerWelcomeCont button {
  position: relative;
  background: transparent;
  border: none;
  margin: 100px;
}
.container .centerWelcomeCont button:focus {
  outline: none;
}
.container .centerWelcomeCont button a {
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.container .centerWelcomeCont button a h3 {
  margin: 0;
}
.container .centerWelcomeCont button a .letterLeft {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: normal;
  color: #ffffff;
}
.container .centerWelcomeCont button a .letterV {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: normal;
  color: #ffffff;
}
.container .centerWelcomeCont button a .letterRight {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: normal;
  color: #ffffff;
  transform: scale(-1, 1);
}

.UserCardsCont {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  z-index: 1;
}
.UserCardsCont .navigationBarUserCardPage {
  height: 85px;
  background: #1d3b8b;
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.UserCardsCont .navigationBarUserCardPage .labelUserPage {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
}
.UserCardsCont .navigationBarUserCardPage .labelUserPage .labelD {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 26px;
  color: #ffffff;
}
.UserCardsCont .navigationBarUserCardPage .labelUserPage .labelC {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #ffffff;
}
.UserCardsCont .navigationBarUserCardPage .labelUserPage .labelI {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 32px;
  color: #ffffff;
}
.UserCardsCont .UserCardsListCont {
  position: relative;
  text-align: center;
  top: 100px;
}
.UserCardsCont .UserCardsListCont h1 {
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: normal;
  text-align: center;
  color: #173396;
}
.UserCardsCont .UserCardsListCont h3 {
  margin: 0;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: normal;
  text-align: center;
  color: #173396;
}
.UserCardsCont .UserCardsListCont h4 {
  margin: 0;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  color: #f2a23a;
}
.UserCardsCont .UserCardsListCont .UserCardsItems {
  width: 100%;
  max-width: 1428px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.UserCardsCont .UserCardsListCont .UserCardsItems .CardItem {
  width: 342px;
  height: 401px;
  background: rgba(23, 51, 150, 0.1);
  border-radius: 19px;
}
.UserCardsCont .UserCardsListCont .UserCardsItems .CardItem .CardLinks {
  margin: auto;
}
.UserCardsCont .UserCardsListCont .UserCardsItems .CardItem .CardLinks img {
  width: 31px;
  height: 31px;
  color: rgba(29, 59, 139, 0.5);
  margin: 10px 10px;
}
.UserCardsCont
  .UserCardsListCont
  .UserCardsItems
  .CardItem
  .locationAndAvailability {
  width: 319px;
  height: 87px;
  margin: 30px auto;
  background: rgba(218, 148, 70, 0.5);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
}
.UserCardsCont
  .UserCardsListCont
  .UserCardsItems
  .CardItem
  .locationAndAvailability
  p {
  margin: 8px;
  width: 104px;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
}
.UserCardsCont
  .UserCardsListCont
  .UserCardsItems
  .CardItem
  .locationAndAvailability
  .Availability {
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-items: left;
  text-align: left;
  width: 100%;
}
.UserCardsCont
  .UserCardsListCont
  .UserCardsItems
  .CardItem
  .locationAndAvailability
  .Availability
  p {
  width: 100%;
  text-align: left;
  margin: 8px auto 8px 20px;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  color: #1d3b8b;
}
.UserCardsCont .UserCardsListCont .UserCardsItems .CardItem img {
  width: 128px;
  height: 128px;
  margin: 10px auto 10px;
}
.UserCardsCont .UserCardsListCont .UserCardsItems .CardItem p {
  color: #1d3b8b;
  font-family: Ropa Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
