.ForgotPasswordFormCont {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;

  .forgotForm {
    margin: auto;
    max-width: 630px;
    text-align: center;
    background: rgba(29, 59, 139, 0.1);
    border-radius: 15px;
    button {
      margin: auto;
    }
  }
  .forgotMessage {
    margin: 200px auto;
    padding: 30px;
    position: relative;
    max-width: 630px;
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    p {
      color: #da9446;
      font-size: 34px;
      padding: 100px;
    }
  }

  #dciLogoLogin {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 20px;
  }
  .ForgotPasswordForm {
    @media (max-width: 630px) {
      width: 400px;
    }
    width: 630px;
    margin: 130px auto;
    vertical-align: center;
    padding: 30px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: absolute;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    .Forgot-Password {
      color: #ec7f37;
      font-size: 34px;
      padding: 10px 0 10px 0;
    }
    .Forgot-Password-Sub {
      color: #5c5c5c;
      font-size: 18px;
    }
    input {
      width: 515px;
      @media (max-width: 630px) {
        width: 305px;
      }
      height: 50px;
      margin: 35px auto;
      padding: 10px;
      border: 1px solid #dfdce3;
      border-radius: 8px;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 18px;
      color: #5c5c5c;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        color: #5c5c5c;
      }
    }
    button {
      width: 160px;
      height: 55px;
      margin: 30px auto 0 0;
      background: /* rgba(218, 148, 70, 0.5) */ #ec7f37;
      color: white;
      border: none;
      border-radius: 7px;
      &:focus {
        outline: none;
      }
      a {
        text-decoration: none;
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
        color: #ffffff;
      }
    }
  }
}
